$colore_navbar_inverse: #3e7bb7;
$colore_bordo_navbar_inverse: #3e7bb7;
$colore_link_liv1_navbar: #ffffff;
$colore_link_liv1_navbar_hover: #000000;
$colore_brand_navbar_inverse: #ffffff;
$colore_navbar_active_link: #ffffff;
$colore_bg_navbar_active_link: #c22e33;
$colore_navbar_open_link: #ffffff;
$colore_bg_navbar_open_link: #c22e33;
$color_form_collapse: #3e7bb7;
$colore_link_schermi_piccoli: #ffffff;
$colore_link_hover_schermi_piccoli: #000000;
$colore_bg_toggle_focus: #3e7bb7;
$colore_bordo_toggle: #3e7bb7;
$colore_bordo_toggle_focus: #ffffff;